<label 
  class="relative inline-flex items-center cursor-pointer"
  [class.opacity-50]="disabled()"
  [class.pointer-events-none]="disabled()"
>
  <input
    type="checkbox"
    class="sr-only peer"
    [checked]="checked()"
    (change)="toggle()"
    [disabled]="disabled()"
  />
  
  <div
    class="w-11 h-6 bg-gray-300 dark:bg-gray-600 peer-focus:outline-none rounded-full 
           peer peer-checked:after:translate-x-full peer-checked:after:border-white 
           after:content-[''] after:absolute after:top-[2px] after:left-[2px] 
           after:bg-white after:border-gray-300 after:border after:rounded-full 
           after:h-5 after:w-5 after:transition-all 
           peer-checked:bg-[var(--color-secondary, #F8C978)]"
  ></div>
</label>